@model BountyHuntersBlog.ViewModels.Comments.CommentCreateViewModel

<div class="card bg-dark text-white border-0 shadow-sm">
    <div class="card-body">
        <form asp-controller="Comments" asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="MissionId" value="@Model" />
            <div class="mb-2">
                <label for="Content" class="form-label">Add a comment</label>
                <textarea name="Content" id="Content" class="form-control" rows="3" required></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-info">
                    <i class="fa-regular fa-paper-plane"></i> Post
                </button>
            </div>
        </form>
    </div>
</div>