@using BountyHuntersBlog.Data.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BountyHuntersBlog.ViewModels.CommentViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject SignInManager<ApplicationUser> UserInManager

@{
    ViewData["Title"] = "Edit Comment";
}

    <h2>Edit Comment</h2>



<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="MissionId" />

    <div class="mb-3">
        <label asp-for="Content" class="form-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
};