<a class="btn btn-primary" asp-area="Admin" asp-controller="AdminHome" asp-action="Index">Open</a>

<a class="btn btn-primary" asp-area="Admin" asp-controller="AdminMissions" asp-action="Index">Open</a>

<a class="btn btn-primary" asp-area="Admin" asp-controller="AdminComments" asp-action="Index">Open</a>

<div class="d-flex gap-2">
    <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="AdminTags" asp-action="Index">Tags</a>
    <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Categories</a>
</div>