@* Areas/Admin/Views/Shared/_BackToList.cshtml *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model (string Area, string Controller, string Action)
<a class="btn btn-link"
   asp-area="@Model.Area"
   asp-controller="@Model.Controller"
   asp-action="@Model.Action">← Back to list</a>