@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item me-2">
            <span class="navbar-text">Hello, @User.Identity?.Name!</span>
        </li>
        <li class="nav-item">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                <button type="submit" class="btn btn-outline-light btn-sm">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item me-2">
            <a class="btn btn-outline-light btn-sm" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light btn-sm" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>