@{
    ViewData["Title"] = "Access Denied";
}

<div class="container my-5">
    <h2 class="text-danger">Access Denied</h2>
    <p class="lead">You are not allowed to access this page.</p>
    <a href="/" class="btn btn-dark mt-3">Return to Home</a>
</div>