@model BountyHuntersBlog.ViewModels.Auth.LoginVM
@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>

<form method="post" asp-action="Login">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control" autocomplete="username" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" autocomplete="current-password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" asp-for="RememberMe" />
        <label class="form-check-label" asp-for="RememberMe"></label>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <a asp-action="Register" class="btn btn-link">Register</a>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }