@model IEnumerable<BountyHuntersBlog.Models.Domain.Faction>

@{
    ViewData["Title"] = "All Factions";
}

<h2 class="mt-3 mb-4">Factions</h2>

<a asp-action="Add" class="btn btn-success mb-3">Add New Faction</a>

@if (!Model.Any())
{
    <p>No factions found.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var faction in Model)
        {
            <tr>
                <td>@faction.Name</td>
                <td>@faction.Description</td>
            </tr>
        }
        </tbody>
    </table>
}