@model BountyHuntersBlog.ViewModels.TagViewModel
@{ ViewData["Title"] = "Edit Tag"; }
@if (User.IsInRole("Admin"))
{
    <h2>Edit Tag</h2>
}
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
</form>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }