@model List<BountyHuntersBlog.ViewModels.Tag.TagViewModel>
<h2>Tags</h2>
<ul class="list-group">
    @foreach (var t in Model)
    {
        <li class="list-group-item d-flex justify-content-between">
            <span>@t.Name</span>
            <a class="btn btn-sm btn-outline-primary" asp-action="Details" asp-route-id="@t.Id">Open</a>
        </li>
    }
</ul>