@using BountyHuntersBlog.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@await Html.PartialAsync("_LikeButton", (LikeButtonViewModel)ViewBag.MissionLike)

<h1>@Model.Title</h1>
<p>@Model.Description</p>
<p>Author: @Model.AuthorName</p>
<a class="btn btn-sm btn-outline-primary"
   asp-controller="Comments" asp-action="Create"
   asp-route-missionId="@Model.Id">Add Comment</a>
