@model BountyHuntersBlog.ViewModels.MissionViewModel
<h1>@Model.Title</h1>
<p>@Model.Description</p>
<p>Author: @Model.AuthorName</p>
<a class="btn btn-sm btn-outline-primary"
   asp-controller="Comments" asp-action="Create"
   asp-route-missionId="@Model.Id">Add Comment</a>
