@model BountyHuntersBlog.ViewModels.Missions.MissionEditViewModel
<h2>Edit Mission</h2>
<form method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <partial name="_MissionForm" model="Model" />
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.Id">Back</a>
</form>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }