@model BountyHuntersBlog.Services.DTOs.MissionEditDto
@{
    ViewData["Title"] = "Edit Mission";
}
<section class="container py-4">
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        @await Html.PartialAsync("_Form", Model)
        <button class="btn btn-primary">Save</button>
        <a asp-controller="Missions" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-link">Back</a>
    </form>
</section>