@model BountyHuntersBlog.ViewModels.Admin.Users.AdminUserListItemVM
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Admin Dashboard</h2>
<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="AdminCatalog" asp-action="Categories">Manage Categories</a>
    <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="AdminCatalog" asp-action="Tags">Manage Tags</a>
    <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="AdminUsers" asp-action="Index">Manage Users</a>
</div>