@model List<BountyHuntersBlog.ViewModels.Category.CategoryViewModel>

<h2>Categories</h2>
<ul class="list-group">
    @foreach (var cat in Model)
    {
        <li class="list-group-item d-flex justify-content-between">
            <span>@cat.Name</span>
            <a class="btn btn-sm btn-outline-primary" asp-action="Details" asp-route-id="@cat.Id">Open</a>
        </li>
    }
</ul>