@model List<BountyHuntersBlog.Models.Domain.MissionPost>

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>All Missions - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Factions</td>
                <td> </td>
            </tr>
            </thead>
            <tbody>
            @foreach (var mission in Model)
            {
                <tr>
                    <td>@mission.Id</td>
                    <td>@mission.Title</td>
                    <td>
                        <div class="d-flex">
                            @foreach (var faction in mission.Factions)
                            {
                                <span class="badge bg-secondary me-1">@faction.Name</span>
                            }
                        </div>
                    </td>
                    <td>
                        <a asp-area=""
                           asp-controller="AdminMissions"
                           asp-action="Edit"
                           asp-route-id="@mission.Id">
                            Edit
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No Missions Found!</p>
    }
</div>