@model BountyHuntersBlog.ViewModels.Admin.Users.AdminUserListItemVM
@{
    ViewData["Title"] = "Create User";
}
<partial name="~/Areas/Admin/Views/Shared/_BackToIndex.cshtml" />
<form method="post">
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input name="Username" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input name="Email" class="form-control" type="email" />
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input name="Password" class="form-control" type="password" />
    </div>
    <div class="mb-3">
        <label class="form-label">Role</label>
        <select name="Role" class="form-select">
            <option>User</option>
            <option>Admin</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>
