@model BountyHuntersBlog.ViewModels.Admin.Users.AdminUserListItemVM

@{
    ViewData["Title"] = "Delete User";
}
<partial name="~/Areas/Admin/Views/Shared/_BackToIndex.cshtml" />
<div class="alert alert-warning">Are you sure you want to delete this user?</div>
<form method="post">
    <input type="hidden" name="Id" value="@(Model?.Id)" />
    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
