@{
    ViewData["Title"] = "Admin";
}
<h2>Admin Dashboard</h2>
<ul>
    <li><a asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a></li>
    <li><a asp-area="Admin" asp-controller="Tags" asp-action="Index">Tags</a></li>
</ul>