@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2 class="mt-3">Admin Dashboard</h2>

<p>Welcome to the administration area of the Bounty Hunters Blog.</p>

<ul>
    <li><a asp-controller="AdminFaction" asp-action="List">Manage Factions</a></li>
    <li><a asp-controller="AdminMissionPosts" asp-action="List">Manage Missions</a></li>
</ul>